workflow.json
{
  "name": "AI Customer Support Bot — ${CLIENT_NAME}",
  "nodes": [
    {
      "id": "webhook-sup",
      "name": "Support Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/support-${CLIENT_ID}",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "extract-sup",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  message: body.message || body.text || '',\n  customer_id: body.customer_id || body.from || 'unknown',\n  channel: body.channel || 'webhook',\n  timestamp: new Date().toISOString()\n} }];"
      }
    },
    {
      "id": "history-sup",
      "name": "Get Customer History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://www.zohoapis.com/crm/v7/Leads/search?criteria=(Phone:equals:{{$json.customer_id}})&fields=Last_Name,Email,Description,Lead_Status",
        "headers": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Zoho-oauthtoken ${ZOHO_OAUTH_TOKEN}"
            }
          ]
        }
      }
    },
    {
      "id": "claude-sup",
      "name": "Claude Support AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "headers": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$credentials.anthropicApiKey}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"model\":\"claude-haiku-4-5\",\"max_tokens\":512,\"system\":\"You are a helpful customer support agent for ${CLIENT_NAME}. Be concise, friendly, and professional. If you cannot resolve the issue, say so clearly.\",\"messages\":[{\"role\":\"user\",\"content\":\"Customer history: \" + JSON.stringify($('Get Customer History').first().json.data?.[0] || {}) + \"\\n\\nCustomer message: \" + $('Extract Message').first().json.message + \"\\n\\nRespond helpfully.\"}]}"
      }
    },
    {
      "id": "parse-sup",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst answer = resp.content?.[0]?.text || 'I apologize, I could not process your request.';\nconst keywords = ['angry', 'furious', 'refund', 'legal', 'cancel', 'lawsuit', 'terrible', 'worst'];\nconst msg = $('Extract Message').first().json.message.toLowerCase();\nconst needs_escalation = keywords.some(kw => msg.includes(kw));\nreturn [{ json: { answer, needs_escalation, customer_id: $('Extract Message').first().json.customer_id, message: $('Extract Message').first().json.message } }];"
      }
    },
    {
      "id": "if-esc-sup",
      "name": "Needs Escalation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.needs_escalation}}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      }
    },
    {
      "id": "alert-sup",
      "name": "Alert Human Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/${CLIENT_ID}-escalation",
        "sendBody": true,
        "contentType": "raw",
        "body": "=ESCALATION NEEDED\nCustomer: {{$json.customer_id}}\nMessage: {{$json.message}}"
      }
    },
    {
      "id": "respond-sup",
      "name": "Respond to Customer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.answer, escalated: $json.needs_escalation, timestamp: new Date().toISOString() }) }}"
      }
    }
  ],
  "connections": {
    "Support Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Get Customer History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer History": {
      "main": [
        [
          {
            "node": "Claude Support AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Support AI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Needs Escalation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Escalation?": {
      "main": [
        [
          {
            "node": "Alert Human Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Human Agent": {
      "main": [
        [
          {
            "node": "Respond to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}